# Compiled TypeScript output (compiled in-place next to .ts sources)
packages/*/lib/**/*.js
packages/*/lib/**/*.d.ts
packages/*/lib/**/*.js.map
packages/*/index.js
packages/*/index.d.ts
packages/*/index.js.map
packages/*/bin/*.js
packages/*/bin/*.d.ts
packages/*/bin/*.js.map
